@CHARSET "UTF-8";

*.header-mainTitle
{
	Font-weight: bold;
  	font-size: 40px;
  	margin-left: 5px;
  	margin-right: 5px;
}

*.header-subTitle 
{
  	font-weight: bold;
  	font-size: 20px;
  	margin-left: 10px;
  	margin-right: 5px;
}

*.treemenu-menuItem
{
	cursor: pointer; cursor: hand;
	color: blue;
}

*.treemenu-disabledMenuItem
{
	color: grey;
}

*.treemenu-selectedMenuItem
{
	color: blue;
	font-weight: bold;
}