@CHARSET "UTF-8";

*.header-mainTitle
{
	Font-weight: bold;
  	font-size: 40px;
  	margin-left: 5px;
  	margin-right: 5px;
}

*.header-subTitle 
{
  	font-weight: bold;
  	font-size: 20px;
  	margin-left: 10px;
  	margin-right: 5px;  
}

*.filterTF-valid-input
{

}

*.filterTF-invalid-input
{
	color: red;
}

*.treemenu-menuItem
{
	cursor: pointer;
	color: blue;
}

*.treemenu-disabledMenuItem
{
	color: grey;
}

*.treemenu-selectedMenuItem
{
	color: blue;
	font-weight: bold;
}

fieldset {
	padding: .7em;
}

*.form-field-textfield-edit-valid
{
	
}

*.form-field-textfield-edit-invalid
{
	background-color: red;
}

*.form-field-combo-edit-valid
{
	
}

*.form-field-ntfield-edit-invalid
{
	background-color: red;
}

*.form-field-ntfield-edit-valid
{

}

*.form-field-combo-edit-invalid
{
	background-color: red;
}

*.general-clickable-text
{
	color : blue;
	cursor: pointer;
}
*.spacyTable {
	min-width: 600px;
	width: 100%;
}
*.spacyTable td {
	padding: .4em;
}
*.table-cell
{
	cursor: pointer;
}

*.dialog-title
{
	color : white;
	
	margin-left: 5px;
  	margin-right: 5px;
  	margin-left: 5px;
  	margin-right: 5px;
}

*.dialog-title-container
{
	background-color : blue;
}

*.dialog-image
{
	margin-left: 5px;
  	margin-right: 5px;
  	margin-left: 5px;
  	margin-right: 5px;
}

*.dialog-message
{
	color : black;
	
	margin-left: 5px;
  	margin-right: 5px;
  	margin-left: 5px;
  	margin-right: 5px;
}

*.dialog-message-container
{
	background-color : grey;
}

*.table-expander-text
{
	text-decoration: underline;
}

*.form-label 
{ 
	white-space : nowrap;
	
	margin-right: 10px;
	padding-right: 10px;
}
	
*.form-label span
{
	display: -moz-inline-box;
	display: inline-block;
	
	font-style: arial;
	font-weight: bold;	
}

*.main-tree
{
	width: 15em;
}

*.tabmenu span
{
	color: blue;
	text-decoration: underline;
}

*.tabmenu span.itemselected
{
	padding-left: 5px;
	padding-bottom: 2px;
	padding-right: 5px;
	cursor: pointer;
	font-weight: bold;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

*.tabmenu span.item
{
	padding-left: 5px;
	padding-bottom: 2px;
	padding-right: 5px;
	cursor: pointer;
}

*.viralisolateform
{
	padding: 5px;
	border: 1px solid black;
}

*.datatable td
{
	padding-right: 10px;
}

*.scrollingButtons span
{
	padding-left: 10px;
	padding-right: 10px;
}

*.scrollingButtons button
{
	margin: 1px;
}

*.Generic-drug-table th
{
	margin: 5px;
}

*.Generic-drug-table td
{
	padding: 3px;
}

*.table-header-bold
{
	font-weight: bold;
}

*.table-header
{
	font-weight: bold;
}

*.table-cell-center
{
	text-align: center !important;
	vertical-align: middle !important;
}

*.editable-table td
{
	padding: 3px;
}

*.form-field-textarea-edit-invalid
{
	background-color: red;
}

*.form-field-textarea-edit-valid
{
}

*.link span
{
	cursor: pointer;
}

*.groupbox div
{
	padding-right: 300px
}
*.link {
	color: blue;
}

*.vi-mutation-evolution-table td {
	padding: 3px;
}



.root {
	width: 95%;	
}


/* fields general */

.querytoolform {
	width:95%;	
	width:700px;
}

.querytoolform fieldset legend {
	border-top: 1px solid rgb(64, 64, 64);
	border-left: 1px solid rgb(64, 64, 64);
	border-right: 1px solid rgb(64, 64, 64);
	background-color: rgb(215, 215, 215);
	margin-top:-1.4em;
	margin-left:-1px;
	position:relative;
	top:-0.35em;
	left:0px;
	zoom:1;
	font-weight: bold;
	padding: 0.1em 0.5em;
	line-height:1.2em;
}

.querytoolform fieldset {
	display:block;
	margin-top:2em;
	margin-bottom:0.5em;
	border: 1px solid rgb(64, 64, 64);
	padding:0.2em 0px 0px 0px;
	background-color: rgb(215, 215, 215);
	position:relative;
	top:0px;
	left:0px;
	zoom:1;
}

.querytoolform fieldset .toolbar {
	margin-left:0.2em;
}

.querytoolform fieldset .content {
	background-color: #fff;
	padding: 0.5em;
	border-top: 1px solid rgb(102, 102, 102);
}

/* info field */

.querytoolform .infofield {
}

.querytoolform .infofield table {
	width:100%;	
}

.querytoolform .infofield td {
	padding-bottom:0.3em;
}

.querytoolform .infofield input, .querytoolform .infofield textarea {
	width: 98%;	
}

.querytoolform .infofield table td.inputs{
	width:100%;
}

.querytoolform .infofield textarea {
	height:4em;	
}


/* trivia */

.querytoolform .warning {
	color: #555;
	line-height:1.4em;
}

.querytoolform .info {
	color: #00bb00;
	line-height:1.4em;
}

.querytoolform .error {
	color: #ee0000;
	line-height:1.4em;
}


/* selection field */

.querytoolform .resultfieldempty {
	display:none;
}


.querytoolform .selectionfield .content, .querytoolform .resultfield .content {
	text-align:center !important;	
}

.querytoolform .selectionfield .content .selectionitem {
	padding:0.1em;
	background-color: rgb(235, 235, 235);
	margin-top:0.4em;
	margin-bottom:0.4em;
	text-align:left;
	border:1px solid rgb(180, 180, 180);
}

.querytoolform .selectionfield .content .selectionitem .label {
	font-weight:bold;
}

.querytoolform .selectionfield .content .tableselectionitem div {
	background-color: rgb(255, 255, 255);
}

/* query tree */

.querytoolform .querytreefield .content {
	padding: 0px;
}

.querytoolform .querytreefield .content .treeroot {
	margin-left:0.5em;
	margin-bottom:1em;
}

.querytoolform .querytreefield .content .tree {
	width:100%;
}

.querytoolform .querytreefield .warnings {
	background-color: rgb(235,235,235);	
	border-top: 1px solid rgb(180,180,180);
	padding: 0.1em 0.3em;
}

.querytoolform .querytreefield .warnings table {
	width:100%;
}

.querytoolform .querytreefield .warnings .warning {
	display:block;
}

.querytoolform .querytreefield .warnings .runbutton {
	width:6em !important;
	text-align:right !important;
}

.querytoolform .querytreefield .content .tree .treeitempanel {
	float:right;
	text-align:right;
}

.querytoolform .querytreefield .content .tree input.check{
	float:right;
	display:block;
	margin-top:0.5em;
}

.querytoolform .tree .disabledtreenodecontent {
	width:100%;	
	display: none;
}

.querytoolform .tree .treenodecontent {
	width:100%;	
	display: block;
	display:table;
}

.querytoolform .tree .treenodecontent .labelcontent {
	width:100%;
}

.querytoolform .tree .treenodecontent td.checkbox {
		width:1.5em;
		vertical-align:middle;
		margin:0px;
}

.querytoolform .querytreefield .content .tree .treenodelabel{
	display:block;
	float:left;
	line-height:1.5em;
	padding-left:0.3em;
}

.querytoolform .querytreefield .content .tree .treenodechildcount{
	display:block;
	float:left;
	font-weight:bold;
	line-height:1.5em;
}

.querytoolform .querytreefield .content .tree .atomictreenode {
	width:100%;
	border-top: 1px solid rgb(235,235,235);
	padding:0.05em 0em 0.05em 0m;
}

.atomictreenode .treenodecontent .buttonpanel {
	width:3.75em;	
}

.composedtreenode .treenodecontent .buttonpanel {
	width:13.5em;	
}

.querytoolform .querytreefield .content .tree .composedtreenode {
	width:100%;
	padding:0.1em 0em 0.1em 0em;
	background-color: rgb(235, 235, 235);
	vertical-align:bottom;
}

.querytoolform .querytreefield .content .tree .selectedclause {
	background-color:rgb(225,230,245);
}

.querytoolform .querytreefield .content .tree .invalidclause {
	color:#ee0000;
}

.querytoolform .querytreefield .content .tree .invalidclause .dialog {
	color:#000000;
}

.querytoolform .querytreefield .content .tree .composedtreenode .treenodelabel{
	font-weight:bold;
}


/* results */

.querytoolform .resultfield .warnings {
	text-align:center !important;
}

.querytoolform .resultfield .runquery {
	text-align:center !important;
}

.querytoolform .resultfield .runresults {
	text-align:left !important;
}

.querytoolform .resultfield .runresults label {
	font-weight:bold;
}

.querytoolform .resultfield .runresults .runresult .label {
	font-weight: bold;
	display:block;
	width: 3em;
	text-align:right;
	padding-right:0.2em;
}

.querytoolform .resultfield .runresult {
	padding:0.5em 0px;
	border-top:1px solid rgb(215, 215, 215);
}



/* button panels */

.querytoolform .buttonpanel {
	padding: 0.15em;	
}

.querytoolform .buttonpanel .separator {
	padding:0px 0.2em;
}

.querytoolform .flatbuttonpanel button {
	margin-left:-1px;
	margin-right:0px;
	background-color:transparent;
	border:1px solid transparent;
	padding:0px 3px;
}

.querytoolform .flatbuttonpanel button:hover {
	border:1px solid rgb(180, 180, 180);
	background-color:rgb(225, 225, 225);
}

.querytoolform .flatbuttonpanel button:disabled {
	opacity:0.3;
	filter:alpha(opacity=30);
    color:#000;
	padding:0px 3px;
	background-color:transparent;
}

.querytoolform .defaultbuttonpanel button {
	margin-left:4px;
	margin-right:4px;
}

/* dialogs */

.querytoolform .dialog {
	border: 1px solid rgb(64, 64, 64);
	background-color: rgb(235, 235, 235);
	margin:0.3em;
}

.querytoolform .dialog .dialogtitle{
	text-align:center !important;
	font-weight:bold;
	background-color: rgb(128, 128, 255);
	padding:0.15em;
	border-bottom: 1px solid rgb(102, 102, 102);
}

.querytoolform .dialog .dialogcontent{
	padding:0.3em;
}

.querytoolform .dialog .dialogcontent .buttonpanel{
	text-align:right !important;
}


/* selector panels */

.newclausedialog .dialogcontent {
	padding:0px !important;	
}

.querytoolform .selectorpanel {
	margin:0.5em 0.25em;
}

.querytoolform .selectortabbedpane {
	margin:0px 0px 0.5em;	
}

.querytoolform .selectorpanel .tabbedpane{
	width: 100%;
}

.querytoolform .selectorpanel .tabstack {
	border-top: 1px solid rgb(102, 102, 102);
	background-color: rgb(225, 225, 225);
}

.querytoolform .selectorpanel .tab {
	border-top: 1px solid rgb(140, 140, 140);
	background-color: rgb(235, 235, 235);
	margin: 0.2em 0px 0px;
	padding-bottom:0.5em;
	min-height:250px;
}

.querytoolform .selectorpanel .tabmenu .item, .querytoolform .selectorpanel .tabmenu .itemselected {
	border-top: 1px solid rgb(102, 102, 102);
	border-left: 1px solid rgb(102, 102, 102);
	border-right: 1px solid rgb(102, 102, 102);
	text-decoration:none !important;
	display:block;
	float:left;
	margin-right:0.2em !important;
	min-width:6em;
	height:1.2em;
	padding: 3px 0.3em;
	line-height:1.2em;
	margin-bottom:-1px !important;
}

.querytoolform .selectorpanel .tabmenu .item span {
	color:#000;
	text-decoration:none !important;
}
	
	
.querytoolform .selectorpanel .tabmenu .itemselected span{
	color:#000;
	text-decoration:none !important;
}

.querytoolform .selectorpanel .tabmenu .itemselected {
	font-weight:normal;
	background-color:rgb(225,225,225);
	border-top: 4px solid rgb(102, 102, 102);
	border-bottom:1px solid rgb(225,225,225);
}

.querytoolform .selectorpanel .tabmenu .item {
	background-color:rgb(205,205,205);
	margin-top:3px !important;
}

.querytoolform .selectorpanel .tabmenu {
	vertical-align: bottom;
	background-color:rgb(180,180,180);
	width:100%;
}

.querytoolform .selectorpanel .tabmenu td {
	padding-left:0.2em;
	padding-top:0.2em;
}

.querytoolform .selectorradio {
	margin:0.3em 1em 0.1em 0.5em;	
}

.querytoolform .selectortab .selectorpanel {
	padding: 0.4em 0.5em;	
	margin: 0px;
}
.querytoolform .selectortab .even {
	background-color:rgb(225,225,225);	
}

/* configurers */

.querytoolform .constantconfigurer, .querytoolform .constantchoiceconfigurer,
	 .querytoolform .inputvariableconfigurer, .querytoolform .composedoutputvariableconfigurer,
	 .querytoolform .fixedstringconfigurer, .querytoolform .outputvariableconfigurer,
	 .querytoolform .fromvariableconfigurer {
	 margin:0em 0.3em 0em 0em;
	padding:0.1em 0px;

}

.editorpanel input, .editorpanel select, .editorpanel button {
	margin-top:0.1em !important;
	margin-bottom:0.1em !important;
	padding:0px !important;
}

.editorpanel span {
}

.querytoolform .constantconfigurer {
	width:10em;
}

.querytoolform .constantchoiceconfigurer {
	max-width:14em;
}

*.viral-isolate-fasta-label {
	color: blue;
}

