<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN
" "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
<!--  <context-param>-->
<!--    <param-name>conf-dir</param-name>-->
<!--    <param-value>/home/simbre1</param-value>-->
<!--    <description>-->
<!--    	Configuration directory, where the global-conf.xml settings file resides.-->
<!--    	Defaults the environmental variable REGADB_CONF_DIR or if this is not set:-->
<!--    	- Windows: C:\Program Files\rega_institute\regadb-->
<!--    	- *nix: /etc/rega_institute/regadb-->
<!--    </description>-->
<!--  </context-param>-->
  <servlet>
    <servlet-name>RegaDB</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>net.sf.regadb.ui.framework.RegaDBMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegaDB</servlet-name>
    <url-pattern>/RegaDB/*</url-pattern>
  </servlet-mapping>
</web-app>

